body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.parent-hover {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: rgb(241, 91, 79);
  position: absolute;
}
.myhover::after {
  box-sizing: border-box;
  margin: auto;
  position: relative;
  background-color: rgb(197, 231, 231);
  color: rgb(61, 41, 9);
  content: "Pokaż mnie paluszkiem";
  width: 100px;
  height: 87.5px;
  top: 20px;
  left: 20px;
  line-height: 0;
  text-indent: -999px;
  /* display: block; */
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  
}



.myhover:hover::after {
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  text-align: center;
  color: rgb(241, 91, 79);
  background-image: url(/img/heart1.bmp);
  text-indent: 0px;
  line-height: 3.5rem;
  top: 10%;
  content: "Kocham";
  display: block;


  animation-name: heart;
 

  /* overflow: auto;  */
  
  /* background-color: blueviolet;  */
  /* width: 200px; */
  /* right: 100vw; */
  /* margin-right: 5px; */
  /* transform: scale(2.0); */
 
  /* animation-name: myFrame; */
  animation-duration: 0.7s; /* or: Xms */
  animation-iteration-count: 100; 
  /* animation-direction: alternate; or: normal */
  /* animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  /* animation-fill-mode: forwards; or: backwards, both, none  */
  /* animation-delay: 2s; or: Xms */
}
@keyframes heart{

  From {
    top: 400px;
    transform: scale(3.8);
  }
  To {
    top: 400px;
    transform: scale(4.0);
  }
}
/* 
@keyframes heart{
  0% {
    
    top: 10px;
  }
  20% {
   
    top: 400px;
    text-replace: "Kocham";
    transform: scale(2);
  }
  30% {
    top: 400px;
    transform: scale(2.3);
  }
  40% {
    top: 400px;
    transform: scale(2.0);
  }
  50% {
    top: 400px;
    transform: scale(2.3);    
  }
  60% {
    top: 400px;
    transform: scale(2.0);
  }
  70% {
    top: 400px;
    transform: scale(2.3);
  }
  80% {
    top: 400px;
    transform: scale(2.0);    
  }
  90% {
    top: 400px;
    transform: scale(2.3);    
  }
  100% {
    top: 400px;
    transform: scale(2.0);    
  }
} */

