body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.parent-hover {
  /* box-sizing: border-box; */
  width: 100%;
  height: 100%;
  background-color: rgb(241, 91, 79);
  position: absolute;
}



.myhover::after {
  background-image: url(../img/heart1.bmp);
  background-repeat: no-repeat;
  color: rgb(207, 193, 169);
  content: "Pokaż mnie paluszkiem";
  cursor: pointer;
  margin: auto;
  position: relative;
  width: 100px;
  height: 87.5px;
  top: 20px;
  left: 20px;
  line-height: 0;
  text-indent: -999px;
  display: block;
  background-size: contain;

}



.myhover:hover::after {
  background-image: url(../img/heart1.bmp);
  background-repeat: no-repeat;
  text-align: center;
  color: rgb(219, 198, 196);
  text-indent: 0;
  /* z-index: 885; */
  line-height: 3.5rem;
  top: 10%;
  content: "Kocham";
  display: block;

  /* transform: translateY(400px);
  transition: transform 3s 4s; */

  /* animation-name: down;
  animation-duration: 4s; 
  animation-timing-function: ease-out; */
  animation-name: heart; 
  animation-duration: 0.7s;
  animation-iteration-count: 100;   
  /* animation: down 4s ease-in, heart 0.7s ease 0 100; */

  /* overflow: auto;  */
  
  /* background-color: blueviolet;  */
  /* width: 200px; */
  /* right: 100vw; */
  /* margin-right: 5px; */
  /* transform: scale(2.0); */
 
  /* animation-name: myFrame; */
  /* animation-direction: alternate; or: normal */
  /* animation-fill-mode: forwards; or: backwards, both, none  */
  /* animation-delay: 2s; or: Xms */
}

@keyframes down{
  0%{
    top: 400px;
  }
  100%{
    top: 400px;
  }
}
@keyframes heart{

  From {
    top: 400px;
    transform: scale(3.8);
  }
  To {
    top: 400px;
    transform: scale(4.0);
  }
}
/* 
@keyframes heart{
  0% {
    
    top: 10px;
  }
  20% {
   
    top: 400px;
    text-replace: "Kocham";
    transform: scale(2);
  }
  30% {
    top: 400px;
    transform: scale(2.3);
  }
  40% {
    top: 400px;
    transform: scale(2.0);
  }
  50% {
    top: 400px;
    transform: scale(2.3);    
  }
  60% {
    top: 400px;
    transform: scale(2.0);
  }
  70% {
    top: 400px;
    transform: scale(2.3);
  }
  80% {
    top: 400px;
    transform: scale(2.0);    
  }
  90% {
    top: 400px;
    transform: scale(2.3);    
  }
  100% {
    top: 400px;
    transform: scale(2.0);    
  }
} */

