body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vh;
  height: 100vh;
  z-index:9998;
  background-image: url(../img/valentines-day.png);
}

    #sticky {
      background-image: url(../img/valentines-day.png);
      width:100%;
      height:100%;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 9999;
    }

.put-finger{
      top: 10%;
      padding-top: 10px;
      position: relative;
      color: rgb(215, 240, 72); 
      background-image: url(../img/heart_g.png);
      background-repeat: no-repeat;
      background-size: contain;        
      line-height: 2;
      text-align: center;
      display: block;
      width: 100px;
      height: 87.5px;
      margin: auto;
      cursor: pointer;
}

.my-heart {
      position: relative;
      background-image: url(../img/heart_g.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 100px;
      height: 100px;
      margin: auto;
      top: 20px;
      visibility: hidden;
}
.my-heart-two {
      visibility: visible;
      top: 300px;
      animation: down 2s ease-out, enlarge 2s 2s ease-in-out, pulsate .7s 4s infinite ease-in-out;
}
.my-heart-two::after {
      content: "Kocham";
      text-align: center;
      padding-left: 20px;
      color: rgb(219, 198, 196);
      text-indent: 0;
      line-height: 3.5rem;
}


@keyframes down{
  From{
    top: 20px;
    }
    To{
    top: 200px;
    }
}

@keyframes pulsate {
    From {
    top: 200px;
    transform: scale(3.6);
    }
    To {
    top: 200px;
    transform: scale(3.4);
    }
}

@keyframes enlarge {
    0%{
    top: 200px;
    transform: scale(1);
    }
    50%{
    top: 200px;
    transform: scale(6);
    }
    100%{
    top: 200px;
    transform: scale(3.4);
  }
}



